<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.ideabag.playtunes"
      android:versionCode="6"
      android:versionName="3">
      
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppThemeLight">
    	
    	<service android:name="com.ideabag.playtuneslegacylegacy.MusicPlayerService"
    	    android:label="@string/app_name">
    	    
    		<intent-filter>
                <action android:name="com.ideabag.playtunes.ACTION_PLAY" />
                <action android:name="com.ideabag.playtunes.ACTION_SHUFFLE" />
                <action android:name="com.ideabag.playtunes.ACTION_PAUSE" />
                <action android:name="com.ideabag.playtunes.ACTION_UPDATE" />
                <action android:name="com.ideabag.playtunes.RELEASE" />
                <action android:name="com.ideabag.playtunes.CONSUME" />
            </intent-filter>
            
    	</service>
    	
        <activity android:name="com.ideabag.playtunes.activity.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="com.ideabag.playtunes.action.UI_UPDATE" />
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />
            
        </activity>
        
    	<activity android:name="com.ideabag.playtunes.activity.NewSettingsActivity"
    	    android:label="@string/activity_title_settings">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            
        </activity>
        
        
		<activity android:name="com.google.ads.AdActivity"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:configChanges="orientation|keyboard|keyboardHidden" />
		
	</application>
	
	<uses-sdk android:minSdkVersion="4" android:targetSdkVersion="15" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	
</manifest>